.question__row
  %p.question__row__date="質問日時: #{question.created_at}"
  - subject = Subject.find(question.subject_id)
  %p.question__row__subject="教科: #{subject.name}"
  %p Q:
  %pre.question__row__question=question.question
