// sign_up, sign_in用
.devise {
  width: 600px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 100px 0;
  background-color: $blue;
  text-align: center;

  &__field {
    padding: 10px 0;

    &__label {
      display: inline-block;
      width: 100px;
    }

    &__input {
      width: 250px;
      line-height: 25px;
    }

    &__submit {
      width: 200px;
      height: 30px;
      background-color: $grean;
      border: none;
    }
  }
  h1 {
    padding: 50px 0;
  }
}
