.header
  %h1 #{title}
  .header__links
    =link_to "今週の学習記録", "", class: "header__links__link"
    =link_to "学習記録一覧", "", class: "header__links__link"
    =link_to "質問", "", class: "header__links__link"
    =link_to "ログアウト", "", class: "header__links__link"
